.container {
    position: relative;
    max-height: 68vh;
    width: 23%;
    overflow: auto;
    /* height: 70%; */
    /* left: 80%; */
    /* top: 17%; */
    text-align: center;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    width: 95%;
    text-align: center;
}

th, td {
    border: 1px solid black;
}

thead {
    background-color: #41719C;
    color: white;
}

.material-icons{
    /*position: absolute;
    margin-top: -3px;*/
    color: #41719C;
}

.material-icons:hover{
    font-family: "Material Icons Outlined";
    cursor: pointer;
    color: rgb(195, 108, 32);
}