.container {
    position: relative;
    width: 20%;
    /* height: 70%; */
    overflow: auto;
    /* left: 80%; */
    /* top: 17%; */
    text-align: center;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

th, td {
    border: 1px solid black;
}

thead {
    background-color: #41719C;
    color: white;
}

.material-icons{
    position: absolute;
    margin-top: -3px;
    color: #41719C;
}

.material-icons:hover{
    font-family: "Material Icons Outlined";
    cursor: pointer;
    color: rgb(195, 108, 32);
}