<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Symbol</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let edge of this.manager?.edges | keyvalue; let i = index;">
                <td>{{i + 1}}</td>
                <td>{{edge.value.symbol}}</td>
                <td>{{edge.value.gain}}</td>
                <td><span class="material-icons" title="edit {{edge.value.symbol}} value"
                        (click)='this.manager.editGain(edge.value)'>edit</span></td>
            </tr>
        </tbody>
    </table>

</div>