<svg xmlns="http://www.w3.org/2000/svg" (mousemove)="mouseMove($event)" (mouseup)="mouseUp($event)">
      <line *ngIf="edge.isSelected" [attr.x1]="edge.endPoint1.x" [attr.y1]="edge.endPoint1.y" [attr.x2]="edge.curveCenter.x" [attr.y2]="edge.curveCenter.y" stroke="black"/>
      <path [attr.id]="id" [attr.d]='edge.path_value' style="stroke: #000000; stroke-width: 3; fill: none;"></path>
      <line *ngIf="edge.isSelected" [attr.x1]="edge.endPoint2.x" [attr.y1]="edge.endPoint2.y" [attr.x2]="edge.curveCenter.x" [attr.y2]="edge.curveCenter.y" stroke="black" style="cursor: pointer;" (mousedown)="triangleClick($event)"/>
      <circle *ngIf="edge.isSelected" [attr.cx]='edge.curveCenter.x' [attr.cy]='edge.curveCenter.y' r='8' style="stroke:#006600; fill:#00cc00; cursor: move;" (mousedown)="mouseDown($event)"/>
      <polygon [attr.points]="edge.arrowPoints" style="fill:black;stroke:purple;stroke-width:1;cursor: pointer;" (mousedown)="triangleClick($event)"/>
</svg>