<svg xmlns="http://www.w3.org/2000/svg">

      <!-- <text       [attr.x] = "(edge.endPoint1.x + edge.endPoint2.x + edge.curveCenter.x)/3 - 20"
                  [attr.y] = "(edge.endPoint1.y + edge.endPoint2.y + edge.curveCenter.y)/3 - 20">{{edge.symbol}}</text> -->

      <line       *ngIf="edge.isSelected" 
                  [attr.x1]="edge.endPoint1.x" 
                  [attr.y1]="edge.endPoint1.y" 
                  [attr.x2]="edge.curveCenter.x" 
                  [attr.y2]="edge.curveCenter.y" 
                  stroke="grey"
                  stroke-dasharray="4"/>
      
      <path       [attr.id]="id" 
                  [attr.d]='edge.path_value' ></path>

      <text dx="-10" dy="-10" class="noselect">
            <textPath [attr.href]="'#'+id" startOffset="50%">
                  {{edge.symbol}}
            </textPath>
      </text>
      
      <line       *ngIf="edge.isSelected" 
                  [attr.x1]="edge.endPoint2.x" 
                  [attr.y1]="edge.endPoint2.y" 
                  [attr.x2]="edge.curveCenter.x" 
                  [attr.y2]="edge.curveCenter.y" 
                  stroke="grey" 
                  stroke-dasharray="4"/>
      
      <circle     *ngIf="edge.isSelected"
                  [attr.cx]='edge.curveCenter.x' 
                  [attr.cy]='edge.curveCenter.y' 
                  r='8' 
                  (mousedown)="manager.mouseDownEdge(this.edge.id, $event)"/>
      
      <polygon    [attr.points]="edge.arrowPoints"
                  [attr.transform]="edge.transform"
                  [ngClass]="(manager.state == 'addEdge') || (manager.state == 'move') ? 'pointed' : 'regular'"
                  (mousedown)="manager.showEdgeTangent(this.edge.id, $event)"
                  (contextmenu)="disableContext($event)"/>
</svg>