<svg xmlns="http://www.w3.org/2000/svg">
  <g (mousedown)="movement.mouseDownNode(node, $event)" [ngClass]="{'onMove': manager.state == 'move',
  'onAddEdgeOrDeleteOrSolve': manager.state == 'delete' || manager.state == 'addEdge' || manager.state == 'solve'}">
    <circle [attr.cx]='node.center.x' [attr.cy]='node.center.y' r='20' [attr.fill]='node.fill'></circle>
    <text [attr.x]='node.center.x' [attr.y]='node.center.y' alignment-baseline="middle" text-anchor="middle"
      class="noselect">{{node.symbol}}</text>
  </g>
</svg>