<!--<p>sketch works!{{state}}</p> -->
<svg width='100%' height='100%' (click)='handleClick($event)' class='container'>

    <svg:g *ngFor='let drawable of this.manager.drawables | keyvalue; index as i'
            [id]='drawable.key'>

        <svg:g *ngIf="drawable.value.getType() == 'edge'" drawable='edge' [edge]='drawable.value'/>

    </svg:g>

    <svg:g *ngFor='let drawable of this.manager.drawables | keyvalue; index as i'
            [ngSwitch]='drawable.value.getType()'
            [id]='drawable.key'>

        <svg:g *ngSwitchCase="'queue'" drawable='queue' [queue]='drawable.value' (click)='select(drawable.value, $event)'/>

        <svg:g *ngSwitchCase="'machine'" drawable='machine' [machine]='drawable.value' (click)='select(drawable.value, $event)'/>

    </svg:g>



</svg>