.container{
    position: absolute;
    width: 250px;
    height: 150px;
    border: 3px solid;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

input[type="number"]{
    border: 1px solid #000;
    margin-top: 8px;
    margin-bottom: 20px;
  }

button{
    display: block;
    margin: auto;
    border-radius: 25px;
    border: none;
    width: 50px;
    height: 25px;
    color: black;
    background-color: yellow;
}

button:hover{
    color: yellow;
    background-color: black;
    cursor: pointer;
}